html{
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}
body{
    margin: auto;
    background: #FEF5EA;
    padding: 40px;
    font-family: "area-normal", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #251605;
    line-height: 1.5em;
    text-transform: lowercase;
    max-width: 40ch;
}
nav ul{
    list-style-type: none;
}
h1{
    text-align: center;
    font-family: "Signika Negative", sans-serif;
    text-transform: capitalize;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30px;
}
h1 a{
    text-decoration: none;
    color: #005268;
}
h2{
    font-weight: 600;
    font-size: 30px;
    line-height: 1.25em;
    margin: 20px 0px;
    text-transform: capitalize;
}
h3{
    font-weight: 500;
    margin: auto;
    line-height: 1.5em;
}
q{
    display: block;
    font-size: 28px;
    line-height: 1.25em;
    text-align: center;
    color: #872657;
    font-weight: bold;
    padding: 20px 0px;
}
#menu{
    align-content: center;
    display: block;
    text-align: left;
    font-weight: 700;
    font-optical-sizing: auto;
    font-size: 20px;
    text-transform: capitalize;
    position: relative;
}
#menu-icon {
    display: block;
    color: #251605;
    cursor: pointer;
    font-size: 50px;
    margin-left: 85%;
    padding-bottom: 22px;
  }
  
#menu-toggle {
    display: none;
}
  
#dropdown1 {
    list-style-type: none;
    margin: 0;
    padding: 15px;
    display: none;
  }
  
#dropdown1 li a {
    display: block;
  }
  
#dropdown1 li a:hover {
    background-color: #FEF5EA;
  }
  
  #menu-toggle:checked + #menu-icon + #dropdown1 {
    display: block;
  }
#menu ul li a{
    text-decoration: none;
    line-height: 2em;
    color: #872657;
}
#dropdown2{
    background-image: url(images/chevron-right-solid.svg);
    background-size: 4%;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    padding-right: 20px;
}
#dropdown2:hover{
    background-image: url(images/chevron-down-solid.svg);
    background-size: 8%;
}
#dropdown2:hover .submenu{
    left: auto;
    padding: 0;
}
.submenu{
    position: absolute;
    left: -5000px;
    background-color: #FEF5EA;
}
ul.submenu li{
    font-size: medium;
    padding: 8px;
    border: 0.75px solid #005268;
    text-align: center;
}
#introduction figure{
    margin: auto;
    display: flex;
    justify-content: center;
}
ul.submenu a{
    border: #005268;
}
#introduction img{
    border-radius: 10px;
}
#introduction{
    padding-top: 22px;
}
#introduction h2{
    text-transform: lowercase;
}
#introduction div{
    margin: auto;
    font-size: large; 
    border-radius: 20px;
}
#introduction p{
    line-height: 1.5em;
}
#cta{
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}
#cta a{
    margin: auto;
    background-color: #759FBC;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    color: #FEF5EA;
    font-family: "area-normal", sans-serif;
    font-weight: 600;
    font-optical-sizing: auto;
    text-decoration: none;
    font-size: 16px;
    max-width: 245px;
    text-transform: capitalize;
}
#sparkles{
    color: #759FBC;
}
#contact{
    padding-top: 50px;
}
#contact div{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}
#contact h2{
    font-size: 28px;
    line-height: 1.5em;
    font-optical-sizing: auto;
}
#cat{
    margin: auto;
}
#cat img{
    box-shadow: 0px 0px 36px -20px #0E273C;
    border-radius: 500px;
}
#design section p{
    color: #872657;
}
img{
    max-width: 100%;
    max-height: 100%    
}
#pfp{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
#pfp img{
    border-radius: 500px;
}
#aboutme p{
    text-align: left;
    line-height: 2em;
    align-content: center;
    text-size-adjust: auto;
}
#funstuff{
    padding-top: 50px;
    padding-bottom: 20px;
}
#skills{
    box-shadow: 0px 0px 36px -20px #759FBC;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 20px;
    }
#skills h2{
    color: #872657;
    margin: 0;
    margin-bottom: 20px;
}
#skills li{
    list-style-type: circle;
    margin: 0;
}
#fun{
    position: relative;
}
#fun #label{
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
}
#fun section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 50px 0px 0px 35px;
}
#fun section img{
    display: block;
    max-width: 100%;
    border-radius: 10px;
}
#fun section .square{
    grid-column: span 3;
}
#fun section .tall{
    grid-column: span 2;
}
strong{
    color: #872657;
    font-weight: 600;
}
#designprojects div img{
    max-height: fit-content;
    border-radius: 15px;
    align-items: center;
}
#merch figure{
    margin: 0;
}
#graphics figure{
    margin: 16px 0px;
}
#socials{
    display: flex;
    justify-content: center;   
    gap: 30px; 
    padding: 30px 0px;
}
#heroimages{
    margin: 0;
}
#heroimages img{
    padding: 10px 0px;
}
#description p{
    text-align: left;
}
#kamsa div{
    align-content: center;
}
#kamsa figure{
    margin: 0;
}
#kamsaapplications figure{
    margin-bottom: 20px;
}
#newsletter{
    filter: drop-shadow(#759FBC 0.25rem 0.25rem 10px);
}
#app p{
    padding-top: 20px;
    margin-top: 0;
}
#mainww a{
    display: flex;
    justify-content: center;
    color: #872657;
}
#wwstyleguide figure{
    margin: 0;
}
#mockups img{
    height: auto;
}
#mockups p{
    text-align: center;
}
#windwomenpics figure{
    margin: 0;
}
#windwomenpics video{
    max-width: fit-content;
}
#sketches figure{
    margin: 0;
}
#dearucd figure{
    margin: 0;
}
#link{
    margin: auto;
    display: flex;
    justify-content: center;
}
#link a{
    text-decoration: none;
    background-color:#872657;
    font-weight: bold;
    color: #FEF5EA;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 255, .2);
}
#contacting h3{
    text-align: left;
}
footer{
    border-top-color:#0E273C;
    border-top-style: solid;
    border-top-width: 1.5px;
    color: #005268; 
    text-align: center; 
    font-family: "Signika Negative", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 12px;
    text-transform: capitalize;
}

@media only screen and (min-width: 600px) {
    header, main, footer {
        max-width: 1024px;
        align-content: center;
        margin: auto;
        padding-bottom: 10px;
    }
    body{
        max-width: 80ch;
    }
    h1{
        font-size: 64px;
    }
    q{
        font-size: 43px;
    }
    #menu{
        text-align: start;
        padding: 0px;
        border-bottom: 1px solid #005268;
    }
    #menu-icon {
        display: none;
      }
    #dropdown1{
        display: flex;
        justify-content: space-around;
        padding: 0px;
    }
    #menu ul li {
        list-style-type: none;
    }
    #menu a{
        text-decoration: none;
    }
    ul.submenu{
        display: flex;
        flex-direction: column; 
    }
    ul.submenu li{
        text-align: left;
    }
    #dropdown2{
        background-image: url(images/chevron-right-solid.svg);
        background-size: 7%;
        background-position: right 60%;
        background-repeat: no-repeat;
        padding-right: 20px;
    }
    #dropdown2:hover{
        background-image: url(images/chevron-down-solid.svg);
        background-size: 10%;
    }
    #introduction figure{
        max-height: fit-content;
        padding: 0;
    }
    #mainpage{
        padding: 0px 20px;
    }

    #introduction{
        display: flex;
        flex-direction: row-reverse;
    }
    #introduction h2{
    margin: 0;
    }
    #introduction p{
        font-size: 28px;
        text-size-adjust: auto;
        max-width: 25ch;
        line-height: 1.5em;
    }
    #cta{
        display: flex;
        align-items: center;
        border-radius: 20px;
    }
    #cta a{
        font-optical-sizing: auto;
        font-style: normal;
        text-decoration: none;
    }
    #cta a:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 9px 5px rgba(117,159,188,0.35);
    }
    #contact{
        margin: 0px 34px;
    }
    #contact h2{
        font-size: 30px;
    }
    #contact div{
        display: flex;
        justify-content: center;
        gap: 60px;
    }
    #aboutme{
        display: flex;
        padding: 20px;
        margin: auto;
        text-align: left;
        line-height: 1.5em;
        font-size: medium;
    }
    #pfp{
        display: flex;
        justify-content: end;
    }
    #pfp img{
        border-radius: 500px;
        display: block; 
        align-content: start;
        height: auto; 
        width: auto; 
        max-width: 300px; 
        max-height: 300px;
    }
    #funstuff{
        padding-top: 100px;
        display: flex;
        justify-content: space-between;
    }
    #skills{
        margin-left: 70px;
        width: 50%;
        padding: 40px 40px 0px 40px;
        margin-bottom: 0;
    }
    #fun{
        margin-left: 30px;
    }
    #fun #label{
        left: 20px;
        width: 25%;
    }
    #fun section{
        padding: 75px 0px 50px 75px;
        max-width: 75%;
    }
    #designprojects{
        padding: 0px 30px 0px 30px;
    }
    #designprojects div{
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }
    #designprojects img:hover {
        transform: scale(1.05);
        box-shadow: 0px 0px 9px 5px rgba(117,159,188,0.35);
    }
    #kamsa div{
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        gap: 20px;
    }
    #kamsa figure{
        max-height: fit-content;
    }
    #logomark p{
        text-align: center;
    }
    #mainaaa section{
        padding-bottom: 0px;
    }
    
    #graphics h2{
        max-width: 45ch;
    }
    #graphics div{
        display: flex;
        justify-content: space-evenly;
    }
    #graphics figure{
        padding: 0px 20px;
    }
    #graphics img:hover{
        transform: scale(1.15);
        box-shadow: 0px 0px 9px 5px rgba(117,159,188,0.35);
    }
    #sns div{
        display: flex;
        justify-content: space-evenly;
    }
    #refresh_logo{
        display: flex;
        justify-content: space-evenly;
    }
    #labels{
        display: flex;
    }
    #patterns div{
        display: flex;
    }
    #newsletter{
        display: flex;
    }
    #arsproducts{
        display: flex;
    }
    #heroimages img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 0px;
    }
    #link a{
        box-shadow: none;
    }
    #link a:hover{
        transform: scale(1.05);
        box-shadow: 0px 0px 9px 5px rgba(117,159,188,0.35);
    }
    #description p{
        max-width: 73ch;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }
    #wwstyleguide div{
        display: flex;
        justify-content: space-between;
    }
    #wwstyleguide figure{
        padding: 0px 30px;
    }
    #mockups div{
        display: flex;
        justify-content: space-evenly;
        margin: auto;
    }
    #windwomenpics div{
        display: flex;
        justify-content: space-between;
    }
    #windwomenpics figure{
        padding: 15px;
    }
    #windwomenpics video{
        align-self: end;
    }
    #sketches div{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #sketches figure{
        padding: 10px
    }
    #dearucd div{
        display: flex;
    }
    #dearucd figure{
        padding: 10px;
    }
    #mobile div{
        display: flex;
        justify-content: center;
    }
    #contacting{
        display: flex;
        justify-content: space-between;
    }
    #contacting section{
        padding: 20px 0;
    }
    #contacting h3{
    max-width: 35ch;
    margin-top: 0;
    line-height: 2em;
    }
    #socials{ 
        gap: 40px;
        justify-content: left;
    }
    #cat{
        display: block;
        padding: 40px 0;
        max-width: 70%;
    }
    footer{
        font-size: 20px;
    }
}