html{
    scroll-behavior: smooth;
}
header{
    border-bottom: 1px solid #005268;
    padding-bottom: 10px;
}
body{
    margin: auto;
    background: #FEF5EA;
    padding: 40px;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #0E273C;
    line-height: 1.5em;
}
h1{
    text-align: center;
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 30px;
}
h1 a{
    text-decoration: none;
    color: #005268;
}
h2{
    font-size: 30px;
}
h3{
    color:#0E273C;
}
q{
    display: block;
    font-size: 30px;
    line-height: 1.25em;
    text-align: center;
    color: #872657;
    font-weight: bold;
    padding: 20px;
}
#menu{
    align-content: center;
    display: block;
    text-align: center;
    font-weight: bold;
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
}
#menu ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#menu ul li a{
    text-decoration: none;
    line-height: 2em;
    color: #872657;
}
#hero{
    margin: auto;
    display: flex;
    justify-content: center;
    
}
#hero img{
    border-radius: 10px;
}
#introduction{
    padding-top: 45px;
}
#introduction div{
    margin: auto;
    font-size: large;
    color: #0E273C; 
    border-radius: 20px;
}
#cta{
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}
#cta a{
    margin: auto;
    background-color: #759FBC;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    color: #FEF5EA;
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600px;
    font-style: normal;
    text-decoration: none;
    font-size: 18px;
    max-width: 245px;
}
#contactme{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
}
form{
    color: #0E273C;
}
#design section p{
    color: #872657;
}
img{
    max-width: 100%;
    max-height: 100%    
}
#pfp{
    padding-top: 20px;
    display: flex;
    justify-content: center;
}
#pfp img{
    border-radius: 500px;
}
#aboutme p{
    text-align: left;
    line-height: 2em;
    max-width: 65ch;
    align-content: center;
    text-size-adjust: auto;
}
strong{
    color: #872657;
}
#socials{
    display: flex;
    justify-content: center;   
    gap: 30px;  
}
#healthguardian{
    padding-bottom: 20px;
}
#newsletter{
    filter: drop-shadow(#759FBC 0.25rem 0.25rem 10px);
}
#app p{
    padding-top: 20px;
}
#link{
    margin: auto;
    display: flex;
    justify-content: center;
}
#link a{
    text-decoration: none;
    background-color:#872657;
    font-weight: bold;
    color: #FEF5EA;
    padding: 15px;
    border-radius: 20px;
}
form{
    display: flex;
    flex-direction: column;
    color: #0E273C;
    margin: auto;
    padding-top: 30px;
    max-width: 800px;
}
footer{
    border-top-color:#0E273C;
    border-top-style: solid;
    border-top-width: 1.5px;
    color: #005268; 
    text-align: center; 
    font-family: "Signika Negative", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 12px;
}

@media only screen and (min-width: 600px) {
    header, main, footer {
        max-width: 1024px;
        align-content: center;
        margin: auto;
        padding-bottom: 10px;
    }
    h1{
        font-size: 64px;
    }
    q{
        font-size: 45px;
    }
    #menu ul{
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        gap: 5px;
    }
    #menu ul li {
        list-style-type: none;
    }
    #menu a{
        text-decoration: none;
    }
    #hero{
        max-height: fit-content;
        padding: 0;
    }
    #mainpage{
        padding: 0px 20px;
    }

    #introduction{
        display: flex;
        flex-direction: row-reverse;
    }
    #introduction div{
        margin: auto;
    }
    #introduction h2{
    margin: 0;
    }
    #introduction p{
        font-size: 28px;
        text-size-adjust: auto;
        max-width: 26ch;
        line-height: 1.25em;
    }
    #cta{
        display: flex;
        justify-content: left;
        border-radius: 20px;
    }
    #cta a{
        font-family: "Signika Negative", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        font-size: 18px;
        text-decoration: none;
    }
    #contact{
        margin-left: 50px;
        font-size: x-large;
    }
    #contactme{
        display: flex;
        justify-content: center;
        gap: 60px;
        padding-bottom: 10px;
    }
    #aboutme{
        display: flex;
        padding: 20px;
    }
    #info{
        margin: auto;
        max-width: 45ch;
        text-align: left;
        line-height: 1.5em;
        font-size: medium;
    }
    #pfp{
        display: flex;
        justify-content: end;
    }
    #pfp img{
        border-radius: 500px;
        display: block; 
        align-content: start;
        height: auto; 
        width: auto; 
        max-width: 300px; 
        max-height: 300px;
    }
    #design section{
        padding-top: 30px;
    }
    #designprojects{
        padding: 0px 30px 0px 30px;
    }
    #designprojects div{
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
    }
    #designprojects figure img{
        display: block;
        border-radius: 15px;
    }
    #kamsa div{
        display: flex;
        align-content: center;
    }
    #kamsa p{
        text-align: center;
    }
    #logomark p{
        text-align: center;
    }
    #kamsacolor{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #kamsaads div{
        display: flex;
    }
    #kamsaapplications div{
        display: flex;
        text-align: center;
    }
    #kamsaapplications img{
        width: 2000px;
    }
    #packaging div{
        display: flex;
    }
    #mainaaa section{
        padding-bottom: 10px;
    }
    #graphics div{
        display: flex;
    }
    #sns div{
        display: flex;
    }
    #labels{
        display: flex;
    }
    #patterns div{
        display: flex;
    }
    #newsletter{
        display: flex;
    }
    #arsproducts{
        display: flex;
    }
    #windwomenpics div{
        display: flex;
    }
    #dearucd div{
        display: flex;
    }
    #contacting section{
        margin: auto;
        padding: 20px;
    }
    
    #message figure{
        padding-top: 15px;
    }
    #message img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
        width: 400px;
        height: auto;
    }
    #socials{
        display: flex;
        justify-content: center;   
        gap: 100px;
    }
    footer{
        font-size: 20px;
    }
}
@media only screen and (min-width: 1024px) {
	

}